.connectWallet {
  position: fixed;
  bottom: 25px;
  left: 25px;
  padding: 15px 35px;
  background-color: rgb(52, 52, 236);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 3px 15px rgba(6, 3, 49, 0.46);
}

.connectWallet:hover {
  opacity: 0.8;
}
