.connectWallet {
  position: fixed;
  bottom: 25px;
  left: 25px;
  padding: 15px 35px;
  background-color: rgb(52, 52, 236);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 3px 15px rgba(6, 3, 49, 0.46);
  animation: pulse 15s 3s linear infinite;
}

.connectWallet:hover {
  opacity: 0.8;
}

@keyframes pulse {
  0%,
  8%,
  100% {
    background-color: rgb(52, 52, 236);
  }

  2% {
    background-color: rgb(153, 52, 236);
  }

  4% {
    background-color: rgb(236, 52, 236);
  }

  6% {
    background-color: rgb(236, 52, 61);
  }
}
