#create-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;

  h1 {
    text-align: center;
    color: white;
  }

  .input-container {
    background-color: #141414;
    max-width: 900px;
    min-width: 375px;
    width: 50%;
    padding: 15px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
      width: 110%;
      margin: -15px -15px 10px -15px;
      height: 150px;
    }

    .hidden {
      display: none !important;
    }

    .flex-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .horizontal {
      height: 150px !important;
    }

    .file-name {
      font-size: 1.4rem;
      border: dashed 2px #2e2e2e;
      text-align: center;
      padding: 20px 0;
      color: #fff;
      width: 100%;
      border-radius: 7px;
      margin: 10px;
    }

    input,
    textarea {
      background-color: rgb(46, 46, 46);
      border: none;
      font-size: 1.1rem;
      padding: 15px;
      border-radius: 7px;
      color: white;
      outline: none;
      box-sizing: border-box;
      margin: 10px 0;
      width: 48%;
      font-family: "Poppins", serif;

      &[type="file"] {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        cursor: pointer;
      }

      &[type="file"]::before {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "Click to Upload Files";
        height: 100%;
        box-sizing: content-box;
        font-weight: 500;
      }

      &[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
      }
    }

    &:focus {
      outline: #175cff 1px solid;
    }

    textarea {
      width: 100%;
      min-height: 100px;
      resize: none;
    }

    button {
      width: 250px;
      background-color: white;
      color: black;
      transition: 0.3s;
      margin: 10px 0;
      align-self: flex-start;

      &:hover {
        //background-color: #175cff;
        background-image: url(../assets/blur-bg.png);
        color: white;
        -webkit-animation: bg-pan-left 2s linear infinite alternate both;
        animation: bg-pan-left 2s ease-in-out infinite alternate both;
      }
    }

    @-webkit-keyframes bg-pan-left {
      0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes bg-pan-left {
      0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}
