#discover {
  h2 {
    text-align: center;
    color: #fff;
    font-size: 2.75rem;
    margin-bottom: 0;
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
  }

  .cardContainer {
    box-sizing: border-box;
    max-width: 1198px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 55px 0;

    a {
      text-decoration: none;
      color: black;
    }

    .card {
      width: 270px;
      height: 425px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      background-color: #fff;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
      }

      .cardImage {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: stretch;
        align-items: center;
        overflow: hidden;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        flex: 1;

        img {
          max-height: 100%;
          -moz-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          pointer-events: none;
        }

        p {
          position: absolute;
          bottom: 10px;
          right: 10px;
          margin: 0;
          opacity: 0.4;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            color: #e0e1e1;
            opacity: 0.9;
          }
        }
      }

      .cardRow {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;

        .cardInfo {
          h3,
          p {
            margin: 0;
          }

          h3 {
            font-size: 0.9rem;
          }

          p {
            text-align: left;
            color: #000;
            font-size: 0.8rem;
            font-weight: lighter;
          }
        }

        button {
          background-color: #175cff;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          color: white;
          font-weight: 700;
          font-size: 0.9rem;
          transition: 0.2s;

          &:hover {
            background-color: #1553e2;
          }
        }
      }
    }
  }
}

.cardContainer {
  box-sizing: border-box;
  max-width: 1198px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 55px 0;
}

.card {
  width: 270px;
  height: 425px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #fff;

  .cardImage {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    flex: 1;

    img {
      max-height: 100%;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      pointer-events: none;
    }

    p {
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin: 0;
      opacity: 0.4;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #e0e1e1;
        opacity: 0.9;
      }
    }
  }

  .cardRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    .cardInfo {
      text-align: left;

      h3,
      p {
        margin: 0;
      }

      h3 {
        font-size: 0.9rem;
      }

      p {
        color: #000;
        font-size: 0.8rem;
        font-weight: lighter;
      }
    }

    button {
      background-color: #175cff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: white;
      font-weight: 700;
      font-size: 0.9rem;
      transition: 0.2s;

      &:hover {
        background-color: #1553e2;
      }
    }
  }
}
