h1 {
  text-align: center;
}

.cardContainer {
  box-sizing: border-box;
  max-width: 1198px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 35px 0;
}

.card {
  width: 270px;
  height: 425px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  .cardImage {
    width: 100%;
    background-color: rgb(184, 186, 199);
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    flex: 1;

    img {
      max-height: 100%;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      pointer-events: none;
    }

    p {
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin: 0;
      opacity: 0.4;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #e0e1e1;
        opacity: 0.9;
      }
    }
  }

  .cardRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: solid 2px #e0e1e1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .cardInfo {
      text-align: left;

      h3,
      p {
        margin: 0;
      }

      h3 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
        font-weight: lighter;
      }
    }

    button {
      background-color: #175cff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: white;
      font-weight: 700;
      font-size: 0.9rem;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #1553e2;
      }
    }
  }
}
