nav {
  width: 100%;

  .container {
    max-width: 1198px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .title,
    a {
      padding: 15px 0;
      text-decoration: none;
      color: black;
    }

    .title {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
}
